<head>
</head>
<body>
    <div class="container">
        <hr>
        <h4><strong><em>All Students</em></strong></h4>
        <em>Click on a student below to view their details</em><br><br><br>
        <ul>
            <% @students.each do |student|%>
                <li><%= link_to student.name, student_path(student) %></li>
            <% end %>
        </ul><br><br>

        <form method="GET" action="/students/new">
            <input type="submit" value="+ Create New Student">
        </form>

        <br><hr>
    </div>
</body>