<h1>Students</h1>
<strong>Student --> Add New Student</strong>
<hr>

<%= form_for @student do |f|%>
    <%= f.label "Student Name"%><br>
    <%= f.text_field :name%><br><br>

    <%=f.submit %>
<%end%>

<br><hr>