<h1>Students</h1>
<strong>Students --> Student Details</strong>
<hr>

<%=@student.name%><br><br>

<form method="GET" action="/students/<%=@student.id%>/edit">
    <input type="submit" value="Edit Student">
</form><br>

<form method="GET" action="../appointments/new">
    <input type="submit" value="Book Appointment">
</form><br><br>

<form method="GET" action="/students">
    <input type="submit" value="<-- Back to Students">
</form>

<br><hr>