<head>
</head>
<body>
    <h1>Tutors</h1>

    <hr>

    <div class="container">
        <h4><strong><em>All Tutors</em></strong></h4>
        <em>Click on a "View Tutor" below to view a tutor's details</em><br><br>

        <table style="width:100%">
            <tr>
                <th height="50">Tutor</th>
                <th height="50">Subjects</th>
                <th height="50">Location</th>
                <th height="50"> </th>
            </tr>
            <% @tutors.each do |tutor| %>
                <tr>
                    <td width="16%"><%=tutor.name%></td>
                    <td width="16%"><%tutor.subjects.uniq.each do |subject|%><%=subject.name%></li> </ul><%end%></td>
                    <td width="16%"><%=tutor.location.name%></td>
                    <td width="16%", height="30"><%=link_to "View Tutor", tutor_path(tutor)%></td>
                </tr>
            <% end %>
        </table><br><br>

        <hr>
    </div>
</body>