<head>
</head>
<body>
    <h1>Tutors</h1>

    <hr>

    <div class="container">
        <h4><strong><em>All Tutors</em></strong></h4>
        <em>Click on a Tutor below to view its details</em><br><br><br>
        <ul>
        <% @tutors.each do |tutor|%>
            <li><%= link_to tutor.name, tutor_path(tutor) %></li>    
        <% end %>
        </ul><br><br>

        <form method="GET" action="tutors/new">
            <input type="submit" value="+ Create New Tutor">
        </form><br><br>

        <hr>
    </div>
</body>