<h1>Tutors</h1>
<strong>Tutors --> Tutor Details</strong>
<hr>

<div class="container">

    <h1><%=@tutor.name%></h1>
    <h3><%=@tutor.location.name%></h3>

    <ul>
        <% @tutor.subjects.each do |subject|%>
            <li><%=subject.name%></li>
        <%end%>
    </ul>

    <form method="GET" action="/tutors/<%=@tutor.id%>/edit">
        <input type="submit" value="Edit Tutor">
    </form><br>

    <form method="GET" action="../appointments/new">
        <input type="submit" value="Book Appointment">
    </form><br><br>

    <form method="GET" action="/tutors">
        <input type="submit" value="<-- Back to Tutors">
    </form>

    <br><hr>
</div>