<head>
</head>
<body>
    <h1>Subjects</h1>

    <hr>

    <div class="container">
        <h4><strong><em>Create New Subject</em></strong></h4><br>

        <%= form_for @subject do |f|%>
            <%= f.label "Subject Name"%><br>
            <%= f.text_field :name%><br><br>

            <hr><br>

            <%=f.submit "Create Subject"%>
        <%end%><br><br>

        <form method="GET" action="/subjects">
            <input type="submit" value="Cancel">
        </form>

        <br><hr>
    </div>
</body>