<div class="jumbotron">
    <div class="container">
        <h2>Want to Learn About TutorMe.com?</h2>
        <p>Are you ready to pass those classes?</p>
        <br>
        <p>
            <%= button_to 'Sign In', students_login_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Not all locations have the same tutors</h3>
            <p>And different tutors can help with several subjects.
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Our Tutors are awesome</h3>
            <p>This is a report from previous students who have passed their classes.
            </p>
        </div>
    </div>
</div>
