<style>
img {
  height: 170px; 
  width: 170px;
}
</style>


<div class="jumbotron">
    <div class="container">
        <h2>Want to Learn About TutorMe.com?</h2>
        <p>Are you ready to pass those classes?</p>
        <br>
        <p>
            <%= button_to 'Sign In', students_login_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
        </p>
    </div>
</div><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Not all locations have the same tutors</h3>
            <p>And different tutors can help with several subjects. Choose from one of our three campus locations
            to find the one that suits you best. View by location, subject, or specific tutor to fins the right 
            fit you're looking for and imporve your knowledge in your field of study.
            </p>
        </div>
        <div class="col-lg-6">
            <br><br><br><img src="https://lh3.googleusercontent.com/proxy/EN0w80yFcGV806pasZlXEz5iJWABgX68v9KxrYhZax1w6EP74i84n-cw6jH-KpDknh9xXEiIBv4yonppLGDCGTFNY4NpubdvdzdAQOPINj2n0JnP66KKqgDTGDxMNsrH3j0pcu_wGkHned0D2h_1MQuXUuDL39bU">
            <img src="https://lh3.googleusercontent.com/proxy/EN0w80yFcGV806pasZlXEz5iJWABgX68v9KxrYhZax1w6EP74i84n-cw6jH-KpDknh9xXEiIBv4yonppLGDCGTFNY4NpubdvdzdAQOPINj2n0JnP66KKqgDTGDxMNsrH3j0pcu_wGkHned0D2h_1MQuXUuDL39bU">
            <img src="https://lh3.googleusercontent.com/proxy/EN0w80yFcGV806pasZlXEz5iJWABgX68v9KxrYhZax1w6EP74i84n-cw6jH-KpDknh9xXEiIBv4yonppLGDCGTFNY4NpubdvdzdAQOPINj2n0JnP66KKqgDTGDxMNsrH3j0pcu_wGkHned0D2h_1MQuXUuDL39bU">
        </div>

        <div class="col-lg-6">
            <br><br><br><br><br><img src="https://icons-for-free.com/iconfiles/png/512/user+avatar+account+female-1320567857042463432.png">
            <img style="padding-bottom:3px;" src="https://icons-for-free.com/iconfiles/png/512/group+team+business+management-1320567853676226931.png">
            <img style="padding-bottom:3px;" src="https://icons-for-free.com/iconfiles/png/512/avatar+user+account+confirm+approve+complete-1320567854562615796.png">
        </div>


        <div class="col-lg-6">
            <br><br><h3>Our Tutors are awesome</h3>
            <p>All of our tutors are certified upper classman (and women :D) who have performed well academically 
            in the subject they specialize in. Additionally, in order to qualify as a tutor with TutorMe.com, the must 
            pass a battery of tests and take a three week course from TutorMe.com to validate their knowledge in their 
            field. Yeet.
            </p>
        </div>
    </div><br><br>
    <hr><br><br>
</div>
