<h1>Subjects</h1>
<strong>Subjects --> Edit Subject</strong>
<hr>

<%= form_for @subject do |f|%>
    <%= f.label "Subject Name"%><br>
    <%= f.text_field :name%><br><br>

    <%=f.submit %>
<%end%>

<br><hr>