<h1>Subjects</h1>
<hr>

<ul>
    <% @subjects.each do |subject|%>
        <li><%= link_to subject.name, subject_path(subject) %></li>
    <% end %>
</ul>

<form method="GET" action="/subjects/new">
    <input type="submit" value="+ Create New Subject">
</form>

<br><hr>
