<head>
</head>
<body>
    <div class="container">
        <hr>
        <h3><strong><em>All Subjects</em></strong></h3>
        <em>Click on a subject below to view its details</em><br><br><br>

        <ul>
            <% @subjects.each do |subject|%>
                <li><%= link_to subject.name, subject_path(subject) %></li>
            <% end %>
        </ul><br>

        <hr><br>
</body>
