<head>
</head>
<body>
    <h1>Subjects</h1>

    <hr>

    <div class="container">
        <h4><strong><em>All Subjects</em></strong></h4>
        <em>Click on a subject below to view its details</em><br><br><br>

        <ul>
            <% @subjects.each do |subject|%>
                <li><%= link_to subject.name, subject_path(subject) %></li>
            <% end %>
        </ul><br>

        <hr><br>
</body>
