<h1>Subjects</h1>
<strong>Subjects --> Subject Details</strong>

<%=@subject.name%>

<ul>
    <% @subject.tutors.each do |tutor|%>
        <li><%=tutor.name%></li>
    <%end%>
</ul>

<form method="GET" action="/subjects/<%=@subject.id%>/edit">
    <input type="submit" value="Edit Subject">
</form><br>

<form method="POST" action="/subjects/<%=@subject.id%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form><br><br><br>

<form method="GET" action="/subjects">
    <input type="submit" value="<-- Back to Subjects">
</form>

<br><hr>