<head>
</head>
<body>
    <div class="container">
    <hr>
    <h3><strong><em>Subject Details</em></strong></h3><br>
    <strong>Subject Name: </strong><%=@subject.name.capitalize%><br><br>

    <strong>Tutors Teaching <%=@subject.name.capitalize%>: </strong><br><br>

    <ul>
        <% @subject.tutors.each do |tutor|%>
            <li><%=link_to tutor.name, tutor_path(tutor)%></li>
        <%end%>
    </ul><br>

    <hr><br>

    <form method="GET" action="../appointments/new">
        <input type="submit" value="+ Book Appointment">
    </form><br><br>

    <form method="GET" action="/subjects">
        <input type="submit" value="<-- View All Subjects">
    </form>

    <br><hr>
    </div>
</body>