<head>
</head>
<body>
    <div class="container">
        <hr>
        <h3><strong><em>All Locations</em></strong></h3>
        <em>Click on a location below to view its details</em><br><br><br>

        <ul>
            <% @locations.each do |location| %>
                <li><%= link_to location.name.capitalize, location_path(location)%></li><br>
            <%end%>
        </ul><br><br>
        <hr><br>
    </div>
</body>