<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">TutorMe.Com</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Textbooks</a></li>
        <li><a href="#">Study Materials</a></li>
        <li><a href="#">Q & A</a></li>
        <li><a href="#">Donate</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user">Sign Up</span> </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"><%= link_to 'Login', students_login_path%></span> </a></li>
      </ul>
    </div>
  </nav>
  